@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9AA57; 
  background-image: linear-gradient(to bottom, #F9AA57, #FB88BC); 
  font-family: 'Libre Franklin', sans-serif;
}

#darkBody{
  background-color: #004165; 
  background-image: linear-gradient(to bottom, #004165, #060B0E);
}
